.navLinkWrap {
  @apply flex px-2 justify-between mb-2 cursor-pointer hover:text-[#325BC9];
}

.navLink {
  @apply flex items-center gap-2;
}

.navIcon {
  @apply text-[13px];
}

.navIconArrowDown {
  @apply text-[11px];
}

.navLink span {
  @apply text-[11px];
}

.sidebar {
  transition: width 0.3s ease;
}

.sidebar h2 {
  @apply text-[12px] font-semibold mt-5 mb-2 px-2;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.sidebar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .sidebar {
    scrollbar-width: none; /* For Firefox */
  }
  
  /* Hide scrollbar for older browsers using overflow */
  .sidebar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
