@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #EFEFEF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none; /* For Firefox */
}

html {
  -ms-overflow-style: none; 
}

.gradient-text {
  background: linear-gradient(to right, #325BC9, #BEA9DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}